@media screen and (min-width: 1400px) {
	.main-form__img img {
	  margin-top: -200px;
	  display: block;
	  width: 100%;
	}
}

@media screen and (max-width: 767px) {


}

@media screen and (max-width: 576px) {
 

}

@media screen and (max-width: 400px) {


}


@media screen and (max-width: 340px) {



}