@media screen and (min-width: 1800px) {

	.banner-img img {
	  right: 200px;
	}
}

@media screen and (min-width: 1600px) {

	.banner-img img {
	  right: 150px;
	}
}

@media screen and (min-width: 1400px) {
	.main-form__img img {
	  margin-top: -200px;
	  display: block;
	  width: 100%;
	  max-width: 774px;
	}

}

@media screen and (max-width: 767px) {


}

@media screen and (max-width: 576px) {
 

}

@media screen and (max-width: 400px) {


}


@media screen and (max-width: 340px) {



}